version: '3.8'
services:
  backend:
    build: ./backend
    container_name: uts_backend
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development

  frontend:
    build: ./frontend
    container_name: uts_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:4000
    depends_on:
      - backend
